<section class="u-clearfix u-image u-section-2" data-image-width="1600" data-image-height="104" id="carousel_c59b">
  <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>
  <section class="u-clearfix u-palette-1-base u-section-3" id="carousel_8e89">
    <img src="../asset/images/91b7bf6ef8236249ae855c10f14f51a4.png" alt="" class="u-image u-image-contain u-image-default u-image-1">
    <img class="u-image u-image-2" src="dresses.jpeg">
    <div class="u-align-left u-container-style u-group u-white u-group-1">
      <div class="u-container-layout u-valign-middle u-container-layout-1">
        <p class="u-custom-font u-small-text u-text u-text-font u-text-variant u-text-1">HappySocks / June 5</p>
        <h2 class="u-text u-text-2">Our Story</h2>
        <p class="u-text u-text-3">It all started under the cloud-ridden April sky of yet another belated Swedish spring in 2008. <br>Two friends had a vision: to spread happiness by turning an everyday essential into a colorful design piece with a rigid standard of ultimate quality, craftsmanship and creativity. <br>A concept now brought to perfection by the Happy Socks collective of creators. <br>Today Happy Socks are sold in more than 90 countries and on every continent.&nbsp;<br>Simply put: there's a pair of high-quality socks and underwear for every occasion, mindset and style.
        </p>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-image u-section-4" data-image-width="1600" data-image-height="104" id="carousel_112b">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
  </section>
  <section class="u-clearfix u-white u-section-5" id="carousel_b469">
    <div class="u-clearfix u-sheet u-sheet-1">
      <img src="../asset/images/b4cb4ad1ea3ee67854bb0228165cfa42.jpeg" alt="" class="u-image u-image-default u-image-1">
      <div class="u-container-style u-expanded-width-xs u-group u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <p class="u-text u-text-1">With the HAPPY SOCKS brand motto being “All play. No work” it was only natural for international cult eyewear brand SUNDAY SOMEWHERE to team up and create a limited edition range of sunglasses.&nbsp;</p>
          <div>The colourful and unique collection is a reflection of both brands dedication for living in the moment, being yourself and doing what makes you happy. Fusing their brand identities, the collections is aptly named “A Happy Sunday”.<br>
          </div>
          <p></p>
          <a href="https://sundaysomewhere.com/blogs/my-sunday-somewhere/sunday-somewhere-x-happy-socks" class="u-btn u-button-style u-btn-1" target="_blank">Read More</a>
        </div>
      </div>
    </div>
  </section>