<section class="u-align-center u-clearfix u-section-7" id="sec-3d6e">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h2 class="u-text u-text-1">Our Customers</h2>
      <p class="u-text u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
      <div class="u-expanded-width u-list u-repeater u-list-1">
        <div class="u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
            <img alt="" class="u-expanded-width-xs u-image u-image-contain u-image-default u-image-1" data-image-width="500" data-image-height="135" src="../assets/images/11.svg">
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
            <img alt="" class="u-expanded-width-xs u-image u-image-contain u-image-default u-image-2" data-image-width="500" data-image-height="175" src="../assets/images/12.svg">
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
            <img alt="" class="u-expanded-width-xs u-image u-image-contain u-image-default u-image-3" data-image-width="420" data-image-height="135" src="../assets/images/13.svg">
          </div>
        </div>
        <div class="u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4">
            <img alt="" class="u-expanded-width-xs u-image u-image-contain u-image-default u-image-4" data-image-width="340" data-image-height="135" src="../assets/images/14.svg">
          </div>
        </div>
      </div>
    </div>
  </section>