<section class="u-clearfix u-white u-section-6" id="carousel_790b">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-align-center-md u-container-style u-layout-cell u-left-cell u-similar-fill u-size-15 u-size-30-md u-layout-cell-1">
              <div class="u-container-layout u-valign-middle-xs u-container-layout-1">
                <img class="u-expanded-width-lg u-image u-image-1" src="../assets/images/daa361076d99bf6bfe5d983eb74d85f6.png">
                <h5 class="u-align-center-lg u-align-center-sm u-align-center-xl u-custom-font u-heading-font u-text u-text-1">Fun In The Sun Sunglasses</h5>
                <p class="u-align-center-lg u-align-center-sm u-align-center-xl u-align-center-xs u-text u-text-2">US$229.00&nbsp;</p>
                <a href="https://www.happysocks.com/us/fun-in-the-sun-sunglasses-1.html" class="u-btn u-button-style u-btn-1" target="_blank">buy now</a>
              </div>
            </div>
            <div class="u-align-center-md u-align-center-xs u-container-style u-layout-cell u-similar-fill u-size-15 u-size-30-md u-layout-cell-2">
              <div class="u-container-layout u-valign-middle-xs u-container-layout-2">
                <img class="u-expanded-width-lg u-image u-image-2" src="../assets/images/2a4e5cdd3254122a52e9cbcbba80cd4b.png">
                <h5 class="u-align-center-lg u-align-center-sm u-align-center-xl u-custom-font u-heading-font u-text u-text-3">Pink Flamingo Sunglasses</h5>
                <p class="u-align-center-lg u-align-center-sm u-align-center-xl u-text u-text-4">US$189.00&nbsp;</p>
                <a href="#" class="u-btn u-button-style u-btn-2">buy now</a>
              </div>
            </div>
            <div class="u-align-center-md u-container-style u-layout-cell u-similar-fill u-size-15 u-size-30-md u-layout-cell-3">
              <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-3">
                <img class="u-expanded-width-lg u-image u-image-3" src="../assets/images/f73ea01bf5c1b7da830c8716c576374d.png">
                <h5 class="u-align-center-lg u-align-center-sm u-align-center-xl u-custom-font u-heading-font u-text u-text-5">Put The Lime In The Coconut Sunglasses</h5>
                <p class="u-align-center-lg u-align-center-sm u-align-center-xl u-align-center-xs u-text u-text-6">US$189.00&nbsp;</p>
                <a href="https://www.happysocks.com/us/put-the-lime-in-the-coconut-sunglasses-1.html" class="u-btn u-button-style u-btn-3" target="_blank">buy now</a>
              </div>
            </div>
            <div class="u-align-center-md u-align-center-sm u-container-style u-layout-cell u-right-cell u-similar-fill u-size-15 u-size-30-md u-layout-cell-4">
              <div class="u-container-layout u-valign-middle-sm u-container-layout-4">
                <img class="u-expanded-width-lg u-image u-image-4" src="../assets/images/fe7c81911d0b0aa80b1ad93e7c597ca3.png">
                <h5 class="u-align-center-lg u-align-center-xl u-align-center-xs u-custom-font u-heading-font u-text u-text-7">Fading Sun Sunglasses</h5>
                <p class="u-align-center-lg u-align-center-xl u-align-center-xs u-text u-text-8">US$189.00&nbsp;</p>
                <a href="#" class="u-btn u-button-style u-btn-4">buy now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>